html
  head
    title= Movie
    include style
  include header
  body
    div#content
      div#main
        img(src = movie.imageURL) 
        div#bodyText
          h1 #{movie.title}
          button add to Watch List

          p Runtime: #{movie.runtime}  |  Release Date: #{movie.release_Date}  |  Average Rating: #{movie.rating}
          p #{movie.plot}
          p 
            b Genre:
            | 
            for genre in movie.genre 
              a(href="/movies/search?movie_Title=&person_Name=&genre=" + genre + "&limit=10&page=1") #{genre}
              |, 

          //-directors
          p
            b Directors:
            | 
            for director in movie.director
              a(href="/people/" + director._id) #{director.name}
              |, 

          //- Actors
          p
            b Actors:
            | 
            for actor in movie.actors
              a(href="/people/" + actor._id) #{actor.name}
              |, 
          

          //-writers
          p
            b Writers:
            | 
            for writer in movie.writers
              a(href="/people/" + writer._id) #{writer.name}
              |, 

      //- Reviews
      h2 Reviews: 
      for review in movie.reviews
        div.class#review
          p 
            b  #{review.title}
            |  
            a(href="//localhost:3000/reviews/" + review.id) See More...

      //- Add a Review
      if link === "profile" && reviewed == false
        h2 Add a Review:
        form(action= movie._id+"/addReview" class = "addReview" method= "POST" id = "addReviewID")
          label(for = "rating") Review Score:
          div(class = "addReview")
              input(type="number" name = "rating" id = "rating" required) 
          br
          label(for = "title") Review Summary:
          div(class = "addReview")
            input(type="text" name = "title" id = "title" required) 
          br
          label(for = "text") Review: 
          div(class = "addReview")
            textarea(name="text", cols="45", rows="7" form = "addReviewID"  ) 
            br
          div(class = "addReview")
            input(type="submit" value = "Add Review") 


      //-Similar movies
      h2 Similar Movies:
      div(class = "movieLink")
        if recommended 
          for m in recommended
            a(href = "/movies/"+ m._id)
                div
                  img(src=m.imageURL)
                  p #{m.title}
