html
  head
    title #{person.name}
    include style
  include header
  body
    div#content
      h1 #{person.name}
      h2 Frequent Collaborators
      if person.top_collaborators.length > 0
        ul
        each m in person.top_collaborators
          li
            a(href = "/people/" + m) #{m} 
      else
        p N/A


      h2 Work
      if person.wrote.length > 0
        h3 Writer:
        div(class = "movieLink")
            each m in person.wrote
                a(href = "/movies/"+ m._id)
                  div
                    img(src=m.imageURL)
                    p #{m.title}

      if person.acted_in.length > 0
        h3 Actor:
        div(class = "movieLink")
            each m in person.acted_in
                a(href = "/movies/"+ m._id)
                  div
                    img(src=m.imageURL)
                    p #{m.title}
                    
      if person.directed.length > 0
        h3 Director:
        div(class = "movieLink")
            each m in person.directed
                a(href = "/movies/"+ m._id)
                  div
                    img(src=m.imageURL)
                    p #{m.title}
