html
  head
    title Profile
    include style
  include header
  body
    div#content
      h1 #{user.username}
      //-

        p Account Type: Basic
        label Switch two:
        |  
        button(name = "Contributing") Contributing
          h2 Users Following: 
        //-
        if user.following_users.length > 0
          each u in user.following_users
            form(action="/users/profile/following_users/"+u method = "get" class = "deleteUser" id = "deleteUser")
              a(href = "/users/"+u) #{u}
              | 
              input(type = "submit" class = "deleteUser" value = "remove" name = "remove")
              <br>
        else
          p N/A
        h2 People Following: 
          <br>
        //-
        if user.following_people.length > 0
          each p in user.following_people
            form(action="/users/profile/following_people/"+p method = "get" class = "deletePerson" id = "deletePerson")
              a(href = "/people/"+p) #{p}
              | 
              input(type = "submit" class = "deleteUser" value = "remove" name = "remove")
              <br>
        else
          p N/A
      h2 Watch List
      if user.watchList.length >0
        div(class = "movieLink")
            for w in user.watchList
              div
                a(href = "/movies/"+ w._id)
                    div
                      img(src=w.imageURL)
                      p #{w.title}
                button(class = "removeMovie" id = w._id) remove
      else
        p N/A
      
      
      
      h2 Reviews:
      if user.reviews.length > 0
        div(class = "reviews")
          for review in user.reviews
              div(class = "review")
                h3  #{review.title}  
                p(class = "rating") rating: #{review.rating}
                p(class = "text") #{review.text}
                a(href="//localhost:3000/reviews/" + review.id) See More...
                br
                br
                button(class = "removeReview" id = review._id) remove
      else
          p N/A
      br
      br
      form(action="/users/logOut" class="logout" method = "post")
        input(class = "logout" type="submit" value = "Log Out")
  script(src = "/button.js")
  include footer
