html
  head
    title Review: #{review.title}
    include style
  
  body
    include header
    div#content
      h2 Summary: #{review.title}
      b Rating: #{review.rating}
      br
      |Username: 
      a(href = "//localhost:3000/users/" + review.username._id)  #{review.username.username}
      br
      |Movie: 
      a(href = "//localhost:3000/movies/" + review.movie._id)  #{review.movie.title}
      p #{review.text}
  include footer
