html
  head
    title Review: #{review.title}
    include style
  
  body
    include header
    div#content
      h2 Summary: #{review.summary}
      h4 Rating: #{review.rating}, By:
          a(href = "//localhost:3000/users/" + review.username)  #{review.username}
          |,  For:
          a(href = "//localhost:3000/movies/" + review.movie)  #{review.movie}
      p #{review.text}
  include footer
