html
  head
    title User: #{user.username}
    include style
  include header
  body
    div#content
      h1 #{user.username}
      //-
      
      h2 Watch List
      if user.watchList.length > 0
        each w in user.watchList
          a(href = "/movies/"+w.id) #{w.title}
      
      h2 Reviews:
      if user.reviews.length > 0
        div(class = "reviews")
          for review in user.reviews
              div(class = "review")
                h3  #{review.title}  
                p(class = "rating") rating: #{review.rating}
                p(class = "text") #{review.text}
                a(href="//localhost:3000/reviews/" + review.id) See More...
      else
          p N/A
    
  include footer
